In [151]:
import pandas as pd
dataset_df = pd.read_csv("data/iris.csv")
errors_df = pd.read_csv("data/errors.csv")
errors_df.rename(columns={'0': 0, '1': 1, '2': 2}, inplace=True)

In [152]:
from functions import *
df_dict = subgroup_discovery(dataset_df=dataset_df, errors_df=errors_df, number_of_classes=3)

Mining relevant subgroups...
Mining relevant subgroups...
Mining relevant subgroups...

/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: divide by zero encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]
/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: invalid value encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]
/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: divide by zero encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]
/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: invalid value encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]
/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: divide by zero encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]
/home/lfrf/ufmg/poc/uncertainty-regions/venv/lib/python3.10/site-packages/pysubgroup/numeric_target.py:85: RuntimeWarning: invalid value encountered in scalar divide
  statistics["median_sg"] / statistics["median_dataset"]

In [153]:
for cls in range(3):
    df_dict[str(cls)].subgroup = df_dict[str(cls)].subgroup.astype(str)

In [156]:
df_dict['0']

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift,covered,class
0,0.019600,petal length (cm)<1.50 AND sepal width (cm)<2.70,1,150,0.020000,0.0004,0.000000,0.002551,0.02,0.0,0.02,0.02,0.02,0.0,50.000000,inf,"[False, False, False, False, False, False, Fal...",0
1,0.019600,petal width (cm): [1.50:1.90[ AND sepal length...,1,150,0.020000,0.0004,0.000000,0.002551,0.02,0.0,0.02,0.02,0.02,0.0,50.000000,inf,"[False, False, False, False, False, False, Fal...",0
2,0.013576,sepal length (cm): [5.0:5.60[ AND sepal width ...,2,150,0.010000,0.0004,0.010000,0.002551,0.01,0.0,0.02,0.02,0.00,0.0,25.000000,inf,"[False, False, False, False, False, False, Fal...",0
3,0.010854,sepal length (cm)<5.0 AND sepal width (cm)<2.70,3,150,0.006667,0.0004,0.009428,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,16.666667,NaN,"[False, False, False, False, False, False, Fal...",0
4,0.008050,petal length (cm): [3.90:4.70[ AND sepal lengt...,5,150,0.004000,0.0004,0.008000,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,10.000000,NaN,"[False, False, False, False, False, False, Fal...",0
5,0.006501,petal length (cm): [3.90:4.70[ AND sepal width...,7,150,0.002857,0.0004,0.006999,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,7.142857,NaN,"[False, False, False, False, False, False, Fal...",0
6,0.005467,petal length (cm): [3.90:4.70[ AND petal width...,9,150,0.002222,0.0004,0.006285,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,5.555556,NaN,"[False, False, False, False, False, False, Fal...",0
7,0.005467,petal width (cm): [1.50:1.90[ AND sepal width ...,9,150,0.002222,0.0004,0.006285,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,5.555556,NaN,"[False, False, False, False, False, False, Fal...",0
8,0.005060,petal width (cm): [0.20:1.20[ AND sepal width ...,10,150,0.002000,0.0004,0.006000,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,5.000000,NaN,"[False, False, False, False, False, False, Fal...",0
9,0.004714,petal length (cm)<1.50 AND petal width (cm): [...,21,150,0.001429,0.0004,0.004666,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,3.571429,NaN,"[True, True, True, False, True, False, True, F...",0
10,0.004200,petal length (cm): [1.50:3.90[ AND sepal lengt...,4,150,0.002500,0.0004,0.004330,0.002551,0.00,0.0,0.01,0.02,0.00,0.0,6.250000,NaN,"[False, False, False, False, False, False, Fal...",0
11,0.004200,sepal length (cm): [5.60:6.10[ AND sepal width...,4,150,0.002500,0.0004,0.004330,0.002551,0.00,0.0,0.01,0.02,0.00,0.0,6.250000,NaN,"[False, False, False, False, False, False, Fal...",0
12,0.004164,petal length (cm)<1.50,24,150,0.001250,0.0004,0.004390,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,3.125000,NaN,"[True, True, True, False, True, False, True, F...",0
13,0.004105,petal length (cm)<1.50 AND sepal length (cm)<5.0,13,150,0.001538,0.0004,0.005329,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,3.846154,NaN,"[False, True, True, False, False, False, True,...",0
14,0.003201,petal width (cm): [0.20:1.20[ AND sepal length...,17,150,0.001176,0.0004,0.004706,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,2.941176,NaN,"[False, True, True, True, False, False, True, ...",0
15,0.002721,petal width (cm): [0.20:1.20[ AND sepal length...,7,150,0.001429,0.0004,0.003499,0.002551,0.00,0.0,0.01,0.02,0.00,0.0,3.571429,NaN,"[False, False, False, False, False, False, Fal...",0
16,0.002499,sepal length (cm): [5.0:5.60[,37,150,0.000811,0.0004,0.003586,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,2.027027,NaN,"[True, False, False, False, True, True, False,...",0
17,0.002427,petal width (cm): [0.20:1.20[,55,150,0.000727,0.0004,0.003222,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,1.818182,NaN,"[True, True, True, True, True, True, True, Tru...",0
18,0.002388,sepal length (cm)<5.0,22,150,0.000909,0.0004,0.004166,0.002551,0.00,0.0,0.02,0.02,0.00,0.0,2.272727,NaN,"[False, True, True, True, False, False, True, ...",0
19,0.002332,petal width (cm)>=1.90,34,150,0.000000,0.0004,0.000000,0.002551,0.00,0.0,0.00,0.02,0.00,0.0,0.000000,NaN,"[False, False, False, False, False, False, Fal...",0